
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: Average;
  font-size: 17px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN ===============*/
.login{
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login__bg{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login__form{
  position: relative;
  margin:auto;
  background-color: hsla(0, 0%, 100%, .01);
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding: 2.5rem 1rem;
  color: white;
  border-radius: 1rem;
  backdrop-filter: blur(16px);
  width:500px;
}



.login__title{
  text-align: center;
  font-size: 40px;
  margin-bottom: 1.25rem;
}

.login__inputs, 
.login__box{
  display: grid;
}

.login__inputs{
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}

.login__box{
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.login__input, .login__button{
  border: none;
  outline: none;
}

.login__input{
  width: 100%;
  background: none;
  color: white;
  padding-block: 1rem;
}

.login__input::placeholder{
  color: white;
}

.login__box i{
  font-size: 1.25rem;
}

.login__check, 
.login__check-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__check{
  margin-bottom: 1rem;
  font-size: 17px;
}

.login__check-box{
  column-gap: .5rem;
}

.login__check-input{
  width: 1rem;
  height: 1rem;
  accent-color: white;
}

.login__forgot{
  color: white;
}

.login__forgot:hover{
  text-decoration: underline;
}

.login__button{
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 4rem;
  color: black;
  font-weight: 500;
  cursor: pointer;
  border-color:black;
  margin-top:25px;
}

.login__button:hover{
	cursor: pointer;
}

.login__register{
  font-size: 17px;
  text-align: center;
}

.login__register a{
	text-decoration: underline;
  color: white;
  font-weight: 500;
}

.login__register a:hover{
  text-decoration: underline;
}


/*=============== Header ===============*/

.container {
	width: 1280px;
	max-width: 100%;
	padding: 0px 3%;
	margin: 0 auto;
}



.landing header {
	padding: 30px 0px;
}

.landing header .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.landing header .logo h2 a {
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	color: #e4e4e4;
}

.landing header .logo h2 span {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	border-radius: 4px;
	background: #7357FA;
	vertical-align: middle;
}

.landing header nav ul {
	list-style: none;
}

.landing header nav ul li {
	display: inline-block;
}

.nav-up{
	margin-left:100px;
}

.landing header nav ul li a {
	display: inline-block;
	text-decoration: none;
	color: #e4e4e4;
	font-size: 14px;
	font-weight: 500;
	margin-left: 10px;
	border: 2px solid transparent;
	line-height: 1;
	padding: 5px 5px;
	border-radius: 3px;
	transition: .3s color;
}

.landing header nav ul li a:hover {
	color: #947efd;
}

.landing header nav ul li.active a {
	color: #7357FA;
	border: 2px solid #7357FA;
}

.landing header nav ul li.logout a {
	background-color: #CC0000;
	border: 2px solid #CC0000;
}

.landing .banner {
	margin-top: 260px;
}

.landing .banner .container {	
	padding: 0px 7%;
}

.landing .banner .details {	
	width: 700px;
	margin-bottom: 40px;
	color: #e4e4e4;
	font-family: Average;
}

.landing .banner .details h1 {	
	font-size: 50px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 20px;
}

.landing .banner .event a {
	margin-top: 20px;
	display: inline-block;
	text-decoration: none;
	color: #e4e4e4;
	transition-duration: .3s;
	transition-property: background-color, color;
}

.landing .banner .event a:first-child {
	margin-right: 30px;
	background: #7357FA;
	padding: 8px 35px;
	border-radius: 4px;
	color: #fff;
}

.landing .banner .event a:first-child:hover {
	background-color: #5336e2;
	
}

.landing .banner .event a:last-child:hover {
	color: #ffffff;
}

.event a{
	font-family: Average;
	font-size: 20px
}

.landing .container {
	padding: 0px 3%;
}

.landing .container a:hover,
.landing .container a:focus {
	color: #6F6F6F;
}

.landing .container a:nth-child(1):hover {
	color: #DF427E;
}

.landing .container a:nth-child(2):hover {
	color: #813FB2;
}

.landing .container a:nth-child(3):hover {
	color: #5BAFE8;
}

.landing .container a:nth-child(4):hover {
	color: #187CEE;
}

.ri-arrow-left-circle-line {
     color: white; 
	 font-size:20px;
}

.ri-home-8-line, .ri-profile-line, .ri-key-fill, .ri-feedback-line, .ri-qr-code-line {
     color: white; 
}

.nav-up{
	font-family:consolas;
	font-size:20px;
}

 /* ---------- MESSAGES ---------- */
.message{
   background-color: blue;
   position: sticky;
   top:0; 
   z-index: 10000;
   border-radius: .5rem;
   background-color: white;
   padding:10px 10px;
   margin:0 auto;
   max-width: 900px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.message span{
   font-size: 25px;
   color:black;
   font-family: Comic Sans MS;
}

.main span{
	position:absolute;
	margin-left:410px;
	margin-top:16px;
	padding: 5px 9px 5px 5px;
	border-radius: .5rem;
	background-color: red;
	color: white;
	font-size: 1.5rem;
	 font-style: normal; 
}

.cross-icon{
	width:50px;
	height:50px;
	cursor:pointer;
}

#close-icon{
	position:absolute;
	width:20px;
	height:20px;
	right:10px;
	top:5px;
	cursor:pointer;
}



